.copyright{
    position: fixed;
    bottom: 10px;
}
.footer-menu{
    position: fixed;
    bottom: 0px;
    right: 20px;
}
.table{
    width: 600px;
    height: 0px;
    margin-bottom: 50px;
}
.post10{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.post10:hover{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}
.post11{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.post11:hover{
    height: 42px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}

.house h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house5 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house6 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house1 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house2 h1{
    font-size: 20px;
    font-family: sans-serif;
}.house3 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house4  h1{
    font-size: 20px;
    font-family: sans-serif;
}
/* .house1{
    margin-top: 200px;
} */



.postoyna10{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: white;
    display: none;
}
.postoyna11{
    width: 100%;
    position: fixed;
    height: 170px;
    bottom: 0px;
    background-color: white;
    display: none;
}
.created input{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #1890ff;  
}
.created .close{
    margin-left: 95%;
}
.div10{
    align-items: center;
    text-align: center;
}
.katta10{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.putbutton{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.putbutton:hover{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}
.putoyanfuel{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 170px;
    background-color: white;
    display: none;
}
.putoyanfuel1{
    width: 100%;
    position: absolute;
    height: 170px;
    background-color: white;
    bottom: 0px;
    display: none;
}

.katta11{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30%;
}
.house2{
    position: relative;

}
.house1{
    position: relative;
}
.house{
    position: relative;
}

.postgarantoyna{
    width: 100%;
    position: absolute;
bottom: 0px;
display: none;
    height: 270px;
    background-color: white;
}
.putbutton11{
    margin-top: 20px;
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.putbutton11:hover{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}
.putbutton11div{
    display: flex;
    justify-content: center;
}
.putgarantoyna{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 270px;
    background-color: white;
    display: none;
}

.postmodeloyna{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: none;
    height: 200px;
    background-color: white;
}

.putmodeloyna{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 200px;
    background-color: white;
    display: none;
}

.katta12{
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.house4{
    position: relative;

}
.postserisoyna{
    width:100% ;
    position: absolute;
    bottom:0px;

    background-color: white;
    display: none;
}
.putserisoyna1{
    width:100% ;
    position: absolute;
    bottom:0px;
    height: 200px;
    background-color: white;
    display: none;
}

.house3{
    position: relative;

}
.house5{
    position: relative;
}

.postpozitsiyaoyna{
    width:100% ;
    position: absolute;
    bottom:0px;
    background-color: white;
    display: none;
}
.putpozitsiyaoyna{
    width:100% ;
    position: absolute;
    bottom:0px;
    height: 340px;
    background-color: white;
    display: none;
}
.putozition1{
    margin-top: 10px;
}
.putozition2{
    margin-top: 10px;
}
select{
    width: 60%;
    height: 40px;
    background-color: white;
    border: 1px solid #1890ff;
    border-radius: 5px ;
}

.house6{
    margin-top: 28%;
    margin-bottom: 20%;
}
.postfillialoyna{
    width: 40%;
  position: fixed;
    right: -100%;
    top: 20%;
    background-color: white;
    color: black;
}
.putfillialoyna{
    width: 40%;
  position: fixed;
    right: -100%;
    top: 20%;
    background-color: white;
    color: black;
}

.label{
    display: block;
}
.div20{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
}
.div20 input{
    width: 300px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #1890ff;
}
.close1{
    font-size: 20px;
margin-left: 96%;
margin-top: 1%;
}