.copyright{
    position: fixed;
    bottom: 10px;
}
.footer-menu{
    position: fixed;
    bottom: 0px;
    right: 20px;
}
.table{
    width: 600px;
    height: 0px;
}
.post10{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.post10:hover{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}
.post11{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.post11:hover{
    height: 42px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}

.house h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house1 h1{
    font-size: 20px;
    font-family: sans-serif;
}
.house2 h1{
    font-size: 20px;
    font-family: sans-serif;
}.house3 h1{
    font-size: 20px;
    font-family: sans-serif;
}
/* .house1{
    margin-top: 200px;
} */



.postoyna10{
    width: 33.5%;
    position: fixed;
    top: -100%;
    height: 170px;
    background-color: white;
    left: 370px;
}
.postoyna11{
    width: 33.5%;
    position: fixed;
    top: -100%;
    height: 170px;
    background-color: white;
    left: 370px;
}
.created input{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #1890ff;  
}
.created .close{
    margin-left: 95%;
}
.div10{
    align-items: center;
    text-align: center;
}
.katta10{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.putbutton{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.putbutton:hover{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}
.putoyanfuel{
    width: 33.5%;
    position: fixed;
    top: -100%;
    height: 170px;
    background-color: white;
    right: 100px;
}
.putoyanfuel1{
    width: 33.5%;
    position: fixed;
    top: -100%;
    height: 170px;
    background-color: white;
    right: 100px;
}

.katta11{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25%;
}

.postgarantoyna{
    width: 33.5%;
    position: fixed;
    bottom: -100%;
    height: 270px;
    background-color: white;
    left: 370px;
}
.putbutton11{
    margin-top: 20px;
    border-radius: 5px;
    width: 100px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
}
.putbutton11:hover{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #1890ff;
}
.putbutton11div{
    display: flex;
    justify-content: center;
}
.putgarantoyna{
    width: 33.5%;
    position: fixed;
    bottom: -100%;
    height: 270px;
    background-color: white;
    left: 370px;
}

.postmodeloyna{
    width: 33.5%;
    position: fixed;
    bottom: -100%;
    height: 200px;
    background-color: white;
    right: 100px;
}

.putmodeloyna{
    width: 33.5%;
    position: fixed;
    bottom: -100%;
    height: 200px;
    background-color: white;
    right: 100px;
}

.katta12{
    margin-top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.house4{
    position: relative;
}
.postserisoyna{
    width:100% ;
    position: absolute;
    bottom:0px;
    height: 200px;
    background-color: white;
    display: none;
}
.putserisoyna1{
    width:100% ;
    position: absolute;
    bottom:0px;
    height: 200px;
    background-color: white;
    display: none;
}

