.putAdmin{
    width: 30%;
    min-height: 300px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: fixed;
    top: 200px;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    right: -100%;
    transition: .6s;
}

.putAdmin .successBtn{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #1890ff;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-left: 30%;
}

.successBtn:hover{
    border: 1px solid #1890ff;
    background: #fff;
    color: #1890ff;
}

.putAdmin span{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    /* margin-top: -30px; */
}

.putAdmin p{
    height: 10px;
}

.putAdmin input{
    width: 100%;
    margin-top: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    padding-left: 10px;
    font-weight: 700;
    margin-bottom: 25px;
}

.putAdmin input:focus{
    border: 1px solid #1890ff;
}

.putAdmin div{
    width: 45%;
}

@media(max-width: 1343px){
    .putAdmin{
        width: 50%;
    }
}