.text h1{
    font-size: 17px;
    width:150px;
}
.text{
    width: 25%;
    display: block;
    margin-top: 10px;
    
}
.text input{
    width: 350px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
}
.alltext{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textsmall{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px !important;
    
}
.text_div{
    display: flex;
    justify-content: space-around;
}
.textsmall h1{
    font-size: 17px;
    width:120px;
    margin-left: 3.5%;
}
textarea{
    margin-left: 0% !important;
    width: 88.5%;
    border: 1px solid grey;
    padding: 15px;
}

.alltext1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.alltext2{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: space-around;
}
.nomi1{
    margin-left: 6.1%;
    width: 87.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nomi{
    font-size: 30px;
    font-family: 'Courier New';
}
.qoshish{
    margin-bottom: 10px;
}
.slect18{
    width: 45%;
}
@media (max-width:1400px) {
    .table1{
        width: 100%;  
      }
    .text input{
        width: 100%;
        height: 40px;
        border: 1px solid grey;
        border-radius: 5px;
    }
    .text{
        width: 100%;
        display: block;
        margin-top: 10px;
        
    }
    .textsmall h1{
        width: 20%;
    margin-left: 1px !important;
    }
    .textsmal{
        margin-left: 5% !important;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    textarea{
        width: 98%;
        height: 300px;
    }
    .df1{
    width:91%  !important;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px  !important;
}
.postbutton{
width: 150px;
margin-left:79% !important;
margin-top: 20px;
margin-bottom: 20px;
}
.slect{
    width: 100% !important;
}



}
@media (max-width:1600px) {
    .table1{
        width: 100%;  
      }
    .text input{
        width: 100%;
        height: 40px;
        border: 1px solid grey;
        border-radius: 5px;
    }
    .text{
        width: 100%;
        display: block;
        margin-top: 10px;
        
    }
    .textsmall h1{
        width: 20%;
    margin-left: 1px !important;
    }
    .textsmal{
        margin-left: 5% !important;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    textarea{
        width: 98%;
        height: 300px;
    }
    .df1{
    width:91%  !important;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px  !important;
}
.postbutton{
width: 150px;
margin-left:79% !important;
margin-top: 20px;
margin-bottom: 20px;
}
.slect{
    width: 100% !important;
}



}
.yoq{
    width: 100%;
}

.img{
    display: flex;
    justify-content: center;
}

.image{
    width: 100%;
}
.postoyna{
    width: 60%;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

}
.postoyna1{
    width: 60%;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: white;
    z-index: 999;

}
.text5 input{
    height: 30px;
    width: 100%;
    border: 1px solid rgb(221, 218, 218);
}
.text6 input{
    height: 30px;
    width: 200px;
    border: 1px solid rgb(221, 218, 218);
}
.alltext{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.df1{
    width: 82%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9% ;
}
.textsmal{
    width: 92.5%;
    margin-left: 9%;
    margin-top: 2%; 
}
.textcheck5{
    margin-left:97.5%;
}


.postbutton{
width: 100px;
margin-left: 82.5%;
margin-top: 20px;
margin-bottom: 20px;
}
.postbutton1{
width: 100px;
margin-left: 82.5%;
margin-top: 20px;
margin-bottom: 20px;
}
.close{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 95%;
}
.select{
    width: 100%;
    height: 31px;
    border: 1px solid rgb(221, 218, 218);
    background-color: white;
}
.table1{
  width: 100%;  
}
.slect{
    width: 350px;
    border: 1px solid grey;
}

.img{
    width: 100%;
    display: block;
    margin-left: 15%;
    margin-top:5%;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: space-around;
}
.image img{
    width: 80%;

    border-radius: 40px;
}
.img1{
    margin-top: 10%;
    gap: 120px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around   ;
   
}

.malumotbutton{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #1890ff;;
    border: 1px solid #1890ff;
    color: white;
    margin-left: 5.9%;

}
.search_div{
    display: flex;
}
.header-search{
    width: 30% !important;
    height: 47px;
    margin-left: 70%;
}
.header-search_orders{
    width: 30% !important;
    height: 47px;
    margin-left: 60%; 
}
.select_search{
    width: 15%;
}
.ant-breadcrumb-link a{
    color: black !important;
}
.defect{
    margin-left: 6%;
    margin-bottom: 1%;
    font-size: 20px;
}

.defectoyna{
width: 40%;
background-color: white;
box-shadow: 0px 0px 10px 0px;
border-radius: 5px;
position: fixed;
top: -100%;
}
.fff{}
.defectoyna_edit{
    width: 60%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 5px;
    position: fixed;
    top: -1000%;
    }
.defectoyna1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.postimagesoyna{
    width: 40%;
background-color: white;
box-shadow: 0px 0px 10px 0px;
border-radius: 5px;
position: fixed;
top:-100%;
}
.defecto_edit_img{
    width: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 5px;
    position: fixed;
    top: -1000%;
}
.defectdest{
    width: 50%;
    height: 20px;
    margin-top: 1%;
    margin-left: 1%;
    
}
.main_div_defect{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.defect_div{
    display: flex;
    align-items: center;
}
.input_defect{
    width: 190px;
    margin-left: 7px;
    margin-right: 7px;
}
.btn_defect{
    width: 110px;
    margin-left: 7px;
    margin-right: 7px;  
}
.zb{
    display: flex;
}
.tablediv_defect{
margin-top: 2%;
margin-left: 1%;
padding: 1%;
border: 1px solid gray;
position: relative;
}
.edit_window{
position: absolute;
width: 80px;
height: 30px;
background-color: antiquewhite;
top: 0;
right: 0;
border-bottom-left-radius: 15px;
display: flex;
justify-content: space-around;
}
.div_img_defect{
    display: flex;
    justify-content: space-between;
}
.img_defect{
    width: 48%;
    height: 130px;
}
.img_img{
    width: 88%;
    height: 340px;
}
.editicon{
    font-size: 25px;
}
.primary{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #1890ff;;
    border: 1px solid #1890ff;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.defectfile{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.defectclose{
    cursor: pointer;
    margin-left: 95%;
    margin-bottom: 10px;
    font-size: 20px;
}
.lolololo{
    width: 300px;
    height: 300px;
}
.imgdafect{
    width: 50px;
    height: 50px;
    margin-left: 2px;
}